.community {
    min-height: 40vh;
    margin-top: 10vh;

    .imgGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .text {
            max-width: 1100px;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: var(--ml-size);

            p {
                margin: var(--ml-size) 0;
                color: var(--paragraph-blue);
                line-height: 30px;
            }
        }

        .subGrid {
            display: flex;
            justify-content: space-between;
            flex: 1 1 45%;
            margin-top: 5vh;
            
            img{
                width: 30px;
            }
        }

        .sub1 {
            margin-right: 7vw;
        }
       
        .transTop {
            transform: translateY(-30px);
        }
    }

   
    
}


@media(min-width:500px){
    .community {

        .imgGrid {

            .subGrid {

                img {
                    width: 3rem;
                }
            }
        }
    }
}