.FriendCard {
    display:  flex;
    padding: var(--m-size);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 100px;
    
    img {
        border-radius: 10px;
    }
    h4 {
       margin-left: var(--m-size); 
    }

    
}