.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  padding-top: var(--m-size);
  line-height: 2;

  h3 {
    font-weight: bold;
    font-size: var(--ml-size);
    color: var(--blue);
    margin-bottom: var(--m-size);
  }

  .hero {
    position: relative;

    .userImage {
      left: 5vw;
      bottom: -3vh;
      position: absolute;

      img {
        background-color: var(--white);
        background-repeat: no-repeat;
        border-radius: 10px;
      }
    }
  }

  .tabs,
  .info,
  .description {
    margin-left: 5vw;
    margin-top: 5vh;
  }

  .tabs {
    display: flex;

    li {
      margin-right: var(--m-size);
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: var(--blue);
      }
    }

    .selected {
      border-bottom: 2px solid var(--blue);
    }
  }
}
