.footer {
    color: var(--white);
    background-color: var(--black);
    min-height: 50vh;
    margin-top: 10vh;
    position: relative;
    padding-bottom: 3rem;

    .wavesContainer{
        height: 10vh;
        transform: translateY(-50%);
    }

    
    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1100px;
        
        p,
        ul li {
            margin-bottom: 1.5rem;
        }
        ul div:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        
        p,
        ul,
        .btnContainer {
            flex: 2;
        }

        
        .btnContainer {
            div {
                margin-bottom: 1.5rem;
            }
            
        }
    }
}


@media screen and (min-width:500px) {
    .footer {
        .wavesContainer{
            transform: translateY(-70%);
            img {
                width: 100vw;
                
            }
        }
        .container {
            display: flex;
            justify-content: space-between;
            gap: 5vw;
            position: relative;
            z-index: 1;

            ul {
                display: flex;
                justify-content: space-around;
                margin: 0 1vw;
            }
            
            p,
            .btnContainer {
                flex: 1;
            }
        }
    }
}