
body {
    // Colors
    --blue:#198CD9;
    --blue-trans:#198cd983;
    --gray:#E8E8E8;
    --l-blue:#40A2E4;
    --very-l-blue:#C3E7FF;
    --green:#00E676;
    --paragraph-blue:#003F69;


    // Gradients
    --blue-gr: linear-gradient(270deg, #198CD9 6.67%, rgba(25, 140, 217, 0.83) 50%);
    --black-gr:linear-gradient(270deg, #312E3A 6.67%, rgba(49, 46, 58, 0.83) 50%);
    --green-gr:linear-gradient(270deg, #00E676 6.67%, rgba(0, 230, 118, 0.83) 50%);
    
    // Neutrals
    --white:#FFFFFF;
    --black:#312E3A;

    // Sizes
    --xs-size:.8rem;
    --s-size:1.2rem;
    --m-size:1.6rem;
    --ml-size:2.4rem;
    --l-size:3.6rem;
    --xl-size:4.8rem;
    --xxl-size:6.4rem;

    // Shadow
    --flat-sh: 0px 4px 4px rgba(0, 0, 0, 0.25);
}